/**************
*** Dispaly ***
**************/

.d-flex {
    display: flex;
}



/**************
*** Flex ***
**************/

.flex-grow {
    flex-grow: 1;
}



/*********************
*** Align & Justify***
*********************/

.justify-content-between { justify-content: space-between;} /* justerar så det blir så: [1  2  3] ANNARS är det så: [123     ]*/

.align-items-center{ align-items: center; } /*justerar i höjdled*/