.bgcolor-blue{background-color: rgb(169, 169, 255);}

.bgcolor-or{background-color: rgb(255, 207, 136);}

.bgcolor-ye{background-color: rgb(252, 255, 85);}

.bgcolor-re{background-color: rgb(255, 199, 199);}

.asdf{font-size: 3rem; color: blue;}